.logo-band{
    /* background-color: red; */
    font-family: "Yrsa",Georgia,Serif;
    align: center;
}



.login{
    color: black;
    font-size: 1.5em;
    padding-top: 1.5em;
    float: right;
}

.nav-band{
    background-color: #15b6b8;
    color: white;
    font-size: 1.2em;
    height: 3em;
}
.nav-band a{
    color : white;
    text-decoration: none;
    font-family: "Source Sans Pro",Helvetica,sans-serif;
    font-size: 1.2em;
    margin: 0.2em;
    font-weight: 350;
}

.dropdown:hover .dropdown-toggle{
    color: black;
}

.nav-band ul{
    padding-top : 0.7em;
}

div.row.nav-band > nav > div > ul > li.dropdown.open > ul{
    margin-top: 0.65em;
}

.dropdown-background{
    background-color: #a1e5e5;
    font-size: 1em;
    margin-top: 0.6em;
}

body{
    background-color: white;
}

.car-opacity{
    width: 100%;
}

.content{
    text-align: justify;
    font-family: "Source Sans Pro",Helvetica,sans-serif;
    background-color: #f8f8f880;
}

.rcorners {
    border-radius: 0px 0px 0px 15px;
    border-color: #757575;
    border-style: solid;
    margin-top: 1em;
    margin-bottom: 0.7em;
    box-shadow: -1px -1px 6px 0px black
    
}

.ff8300{
    color: #ff8300;
}

.b891{
    color: #15b891;
}

.e7f80{
    color: #0e7f80;
}
